*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
:root{
--Pink: hsl(322, 100%, 66%);
--Light-Pink: hsl(321, 100%, 78%);
--Light-Red: hsl(0, 100%, 63%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Very-Pale-Blue: hsl(207, 100%, 98%);
--sky-blue: #848e97;
--light-white: #f7ffff;
--light-lg-white: #fefeff;
--blue: #00c9f8;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.btn{
    text-decoration: none;
    font-size: 13px;
    color: var(--Pink);
    border: 1px solid var(--Pink);
    padding: 7px 25px;
    border-radius: 25px;
    cursor: pointer;
}
.btn:hover{
    color: var(--Light-Pink);
    border: 1px solid var(--Light-Pink);
    transition: .2s;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 15px;
    line-height: 25px;
}
header{
    padding: 65px 0;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
header .wrapper{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .wrapper .logo img{
    width: 100%;
}
.banner .wrapper{
    max-width: 1030px;
    padding: 130px 0 60px 0;
    text-align: center;

}
.banner .wrapper .banner-text h2{
    color: var(--Very-Dark-Cyan);
    padding: 20px 0;
}
.banner .wrapper .banner-text p{
    padding: 0 280px 40px 280px;
    color: var(--Very-Dark-Cyan);
    font-weight: 600;
}
.banner .wrapper .banner-text .btn-dark,
.community .wrapper .btn-dark{
    padding: 17px 75px;
    color: var(--Very-Pale-Blue);
    background: var(--Pink);
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}
.banner .wrapper .banner-text .btn-dark:hover,
.community .wrapper .btn-dark:hover{
    color: var(--Very-Pale-Blue);
    background: var(--Light-Pink);
   transition: .2s;
    
}


.banner .wrapper .banner-text img{
    padding: 100px 0 40px 0;
}
.views .wrapper{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 100px 0;
}
.views .wrapper .views-icons h1{
    padding: 5px 0;
    color: var(--Very-Dark-Cyan);
}
.views .wrapper .views-icons p{
    color: var(--sky-blue);
    font-weight: 600;
    font-size: 18px;
}
.views .wrapper .views-icons .texter{
    padding-left: 30px;
}
.grow-together{
    background: var(--Very-Pale-Blue);
    
}


.users{
    background: var(--Very-Pale-Blue);
    
}
.grow-together .wrapper,
.users .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flowing-conversation .wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 130px 0 50px 0;
}

.grow-together .wrapper .grows,
.users .wrapper .grows{
    padding: 100px 150px 0 0;
    width: 100%;
}
.flowing-conversation .wrapper .grows{
    padding-left: 150px;
    width: 100%;
}
.grow-together .wrapper .grows h3,
.flowing-conversation .wrapper .grows h3,
.users .wrapper .grows h3{
   
    color: var(--Very-Dark-Cyan);
}
.grow-together .wrapper .grows p,
.users .wrapper .grows p{
    padding: 10px 70px 10px 0;
    font-size: 18px;
    color: var(--Very-Dark-Cyan);
}
.flowing-conversation .wrapper .grows p{
    padding: 10px 70px 10px 0px;
    font-size: 18px;
    color: var(--Very-Dark-Cyan);
}


.grow-together .wrapper .grow-together-image img,
.Flowing-conversation .wrapper .grow-together-image img{
    width: 100%;
}
.top-curved, .bottom-curved, .footer-curved{
    width: 100%;
    height: auto;
}
.top-curved-mobile, .bottom-curved-mobile, .footer-curved-mobile{
    width: 100%;
    height: auto;
    display: none;
}
.community .wrapper{
    padding: 150px 0;
    text-align: center;
}
.community .wrapper .build-community h2{
    padding: 0 0 40px 0;
    color: var(--Very-Dark-Cyan);
}
footer{
    background: var(--Very-Dark-Cyan);
    position: relative;
    bottom: 5px;
    left: 0;
}
footer .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 120px 0 0 0;
}
footer .wrapper .footer-bottom p{
    color: var(--light-white);
    padding: 20px 150px 20px 0;
}
footer .wrapper .footer-bottom li{
    padding: 10px 0;
    
}
footer .wrapper .footer-bottom li a{
    padding: 10px 0;
    color: var(--Very-Pale-Blue);
}
footer .wrapper .footer-bottom svg{
    color: var(--light-lg-white);
    margin-right: 10px;
   
    
}
footer .wrapper .icons{
    padding: 50px 0;
}
footer .wrapper .icons a{
    color: var(--light-lg-white);
    padding: 20px 0;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
footer .wrapper .icons a:hover{
    color: var(--blue);
    
    
}
footer .wrapper .newslwtter {
    padding-left: 300px;
}
footer .wrapper .newslwtter h3{
    color: var(--Very-Pale-Blue);
    font-size: 20px;
    
}
footer .wrapper .newslwtter p{
    color: var(--Very-Pale-Blue);
    padding: 10px 100px 10px 0;
    
}
footer .wrapper .newslwtter form{
    padding: 25px 0 15px 0;   
}
footer .wrapper .newslwtter form input{
    display: inline-block;
    border: none;
    outline: none;   
    padding: 7px 50px;
    border-radius: 5px;
}
footer .wrapper .newslwtter form input:hover{
    border: 1px solid var(--Light-Red);
    cursor: pointer;
}
footer .wrapper .newslwtter form button{ 
    padding: 7px 35px;
    border-radius: 5px;
    background: var(--Pink);
    outline: none;
    border: none;
    margin-left: 35px;
    cursor: pointer;
    color: var(--Very-Pale-Blue);
}
footer .wrapper .newslwtter form button:hover{ 
    background: var(--Light-Pink);
   
}

@media only screen and (max-width: 1199px) {
    .wrapper {
       margin: 0 15px;
    }
    .banner .wrapper .banner-text h2{
       font-size: 30px;
    }
    .banner .wrapper .banner-text p{
        padding: 0 150px 40px 150px;
    }
    .banner .wrapper .banner-text .btn-dark,
    .community .wrapper .btn-dark{
        padding: 17px 65px;
        
    }
    .views .wrapper .views-icons h1{
        font-size: 40px;
    }
    .views .wrapper .views-icons p{
        font-size: 16px;
    }
.flowing-conversation .wrapper{
    padding: 130px 0 50px 0;
}

.grow-together .wrapper .grows,
.users .wrapper .grows{
    padding: 100px 100px 0 0;
}
.flowing-conversation .wrapper .grows{
    padding-left: 150px;
}
.grow-together .wrapper .grows h3,
.flowing-conversation .wrapper .grows h3,
.users .wrapper .grows h3{
   font-size: 25px;
}
.grow-together .wrapper .grows p,
.users .wrapper .grows p{
    padding: 10px 20px 10px 0;
    font-size: 16px;
    
}
    .flowing-conversation .wrapper .grows p{
        padding: 10px 0px 10px 0px;
        font-size: 16px;
    }
    .community .wrapper .build-community h2{
        padding: 0 0 40px 0;
        font-size: 30px;
        color: var(--Very-Dark-Cyan);
    }
    footer .wrapper .footer-bottom p{
        color: var(--light-white);
        padding: 20px 70px 20px 0;
    }
    footer .wrapper .newslwtter p{
        color: var(--Very-Pale-Blue);
        padding: 10px 50px 10px 0;
        
    }
    footer .wrapper .newslwtter form input{
        width: 100%;
        padding: 12px 25px;
        margin-bottom: 20px;
    }
    footer .wrapper .newslwtter form button{ 
        margin-left: auto;
        padding: 12px 25px;
    }
}



@media only screen and (max-width: 767px) {
    .wrapper {
       padding: 0 15px;
    }
    .btn{
        font-size: 11px;
        padding: 7px 20px;
       
    }
    .banner .wrapper{
            padding: 130px 0 0px 0;
            
    }
    header .wrapper .logo img{
        width: 73%;
    }
    .banner .wrapper .banner-text h2{
        font-size: 30px;
        line-height: 57px;
     }
     .banner .wrapper .banner-text p{
         padding: 0 10px 80px 10px;
         font-size: 17px;
         line-height: 30px;
     }
     .banner .wrapper .banner-text .btn-dark,
     .community .wrapper .btn-dark{
         padding: 15px 55px;
         
     }
     .banner .wrapper .banner-text img{
        padding: 150px 0 40px 0;
    }
    .views .wrapper{
        display: flex;
        flex-direction: column;
        padding: 0 0 100px 0;
        text-align: center;
    }
    .views .wrapper .views-icons{
        font-size: 30px;
        text-align: center;
    }
    .views .wrapper .views-icons svg{
        align-items: center;
    }
     .views .wrapper .views-icons h1{
         font-size: 45px;
     }
     .views .wrapper .views-icons p{
         font-size: 20px;
     }
     .views .wrapper .views-icons img{
         text-align: center;
         margin: auto;
         padding: 200px 0 10px 0;
     }
     .views .wrapper .views-icons .texter{
        padding-left: 10px;
    }
    .grow-together .wrapper,
    .users .wrapper{
        display: flex;
        flex-direction: column-reverse;
        padding: 60px 0;
    }
    .flowing-conversation .wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
 
 .grow-together .wrapper .grows,
 .users .wrapper .grows{
     text-align: center;
     padding: 150px 0px 0 0;
 } 
 .flowing-conversation .wrapper .grows{
    padding-left: 0px;
    text-align: center;
}

.top-curved, .bottom-curved, .footer-curved{
    display: none;
}
.top-curved-mobile, .bottom-curved-mobile, .footer-curved-mobile{
    
    display: block;
}
.grow-together .wrapper .grows h3,
.users .wrapper .grows h3{
   font-size: 25px;
}
.flowing-conversation .wrapper .grows h3{
    padding-top: 150px;
}
.grow-together .wrapper .grows p,
.users .wrapper .grows p{
    padding: 0px 0px 50px 0;
    font-size: 16px;
    
}
    .flowing-conversation .wrapper .grows p{
        padding: 10px 0px 10px 0px;
        font-size: 16px;
    }
    footer .wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    footer .wrapper .footer-bottom{
        padding-top: 120px;
    }
    footer .wrapper .footer-bottom p{
        color: var(--light-white);
        padding: 20px 70px 20px 0;
    }
    footer .wrapper .icons a{
        font-size: 30px;
        margin-right: 20px;
    }
    footer .wrapper .newslwtter{
        padding-left: 0;
    }
    footer .wrapper .newslwtter p{
        color: var(--Very-Pale-Blue);
        padding: 10px 50px 10px 0;
        
    }
    footer .wrapper .newslwtter form input{
        width: 100%;
        padding: 14px 25px;
        margin-bottom: 20px;
    }
    footer .wrapper .newslwtter form button{ 
        margin-right: 0 auto;
        padding: 15px 35px;
    }
}
